!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title System for solving mathematical equations
    %link{:href => "/assets/stylesheets/style.css", :rel => "stylesheet"}/
    %script{:src => "/assets/javascripts/libs/jquery-3.1.0.min.js", :type => "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"}

    %meta{:charset => "UTF-8"}/
  %body

    Hi, it's system for solving mathematical equations
    %br/
    She can solve 2 type of equations.
    %p
      %b Type of mathematical equation
    %input#linear{:name => "switch", :type => "radio", :value => "1"}/
    Linear
    %input#quadratic{:name => "switch", :type => "radio", :value => "0"}/
    Quadratic
    %form#myforma
      %span.letter k∙x + b = y
      %br/
      %br/
      = succeed "x+" do
        %input#fieldfirstlin.left{name: "first_coeflin", maxlength: "25", size: 10, value: "2"}/
      %input#fieldsecondlin.left{name: "second_coeflin", maxlength: "25", size: 10, value: "4"}/
      %input#fieldthirdlin.left{name: "third_coeflin", maxlength: "25", size: 10, value: "3"}/
      %br/
      %input{ type: "submit", value: "Answer"}/


    %form#myformb
      %span.letter
        ax
        %sup 2
        + bx + c = y
      %br/
      %br/
      %input#fieldfirstqua.left{name: "first_coefqua", maxlength: "25", size: 10, value: "2"}/
      x
      %sup> 2
      +
      %input#fieldsecondqua.left{name: "second_coefqua", maxlength: "25", size: 10, value: "2"}/
      x+
      %input#fieldthirdqua.left{name: "third_coefqua", maxlength: "25", size: 10, value: "2"}/
      \=
      %input#fieldfourthqua.left{name: "fourth_coefqua", maxlength: "25", size: 10, value: "2"}/
      %br/
      %input{ type: "submit", value: "Answer"}/


    %input{:type => "hidden", :value => "ch1"}/
  %script{:src => "/assets/javascripts/script.js"}
